<div class="container">
    <h1><%= @post.title %></h1><hr />
    <div style="text-align:right;">
        <div><%=@post.created_at.to_s.split("+").first %>, <%= time_ago_in_words(@post.created_at)%> ago</div>
        <div><%= @post.user.username %></div>
        <a href="/post/edit/<%= @post.id %>">
            <span class="badge badge-pill badge-primary">수정</span>
        </a> 
        <a href="/post/destroy/<%= @post.id %>">
            <span class="badge badge-pill badge-info">삭제</span>
        </a>    
    
    
    <p><%= simple_format(@post.content) %></p><hr>
    
    <% unless @post.image.nil? %>
        <%= image_tag @post.image, width: "600" %>
        <%= image_tag @post.middle %>
        <%= image_tag @post.thumb %>
    <% end %>
    
    <% @post.replies.each do |r| %>
        <%= r.user.username %> : <%= r.content %> 
        <a href="/reply/destroy/<%= r.id %>">
        <span class="badge badge-pill badge-info">삭제</span>
        </a> 
        <br>
    <% end %>
    
     <form action="/reply/create" method="post">
         <input name="post_id" value="<%= @post.id %>" hidden="true">
         <div class="row">
            <textarea name="content" class="form-control col-11" id="exampleFormControlTextarea1" rows="3"></textarea>
            <button type="submit" class="btn btn-dark col-1">댓글작성</button>
          </div>
     </form>
</div>